<main class="main" [class.light-mode]="!darkMode">

  <nav class="navbar fixed-top" [class.navbar-light-mode]="!darkMode">
    <div class="container-fluid">
      <a class="navbar-brand">Nombre de la pagina — {{ usuario }}</a>
      <div>
        <button type="button" class="btn boton-salir" (click)="logout()">
          <i class="fa-regular fa-circle-xmark"></i>
        </button>
        <button type="button" class="btn boton-color" (click)="toggleTheme()">
          <i [class]="darkMode ? 'fa-solid fa-moon' : 'fa-solid fa-sun'"></i>
        </button>
      </div>
    </div>
  </nav>

  <div class="upload-section">
    <div
      class="drop-zone"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
      [class.dragging]="isDragging">
      <div *ngIf="!selectedFile">
        <i class="fa-solid fa-cloud-arrow-up"></i>
        <h2>Arrastra tu archivo aquí</h2>
        <p>o</p>
        <label class="upload-btn">
          Seleccionar archivo
          <input type="file" hidden (change)="onFileSelected($event)">
        </label>
      </div>

      <div *ngIf="selectedFile">
        <i class="fa-solid fa-file-shield archivo-icon"></i>
        <h2>{{ selectedFile.name }}</h2>
        <p>{{ getFileSize() }}</p>
        <button class="remove-btn" (click)="removeFile()">Eliminar archivo</button>
      </div>

    </div>

    <div class="botones-acciones">
      <button (click)="subirArchivo()" class="led-btn">Subir</button>
      <button class="led-btn">Analizar</button>
      {{id_analisis}}
    </div>
  </div>

  <div class="historial-section">
    <div class="recuadro-titulo">
      <h1>Historial</h1>
    </div>
    <div class="recuadro-historial"></div>
  </div>

</main>
